<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="geekband.lexkde.com.service">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".service.MusicPlayerService"
            android:enabled="true"
            android:exported="true">
        </service>
        <receiver android:name=".widget.MusicWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="MusicPlayerService.ChangeButtonText"/>
                <action android:name="MusicPlayerService.ChangeBDurationText" />
                <action android:name="MusicPlayerService.ChangeProgressText"/>
                <action android:name="MusicPlayerService.ChangeCurrentSongName"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@layout/setting_music_widget">
            </meta-data>
        </receiver>
        <activity android:name=".FileDialogActivity"/>
    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

</manifest>